@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// @import "../../node_modules/@blueprintjs/core/dist/blueprint.scss";
* {
	box-sizing: border-box;
}
img{
	width: 100%;
}

body{
	// background: url('../images/476079.jpg')center, center, no-repeat;
	// background-size: cover;
	font-family: 'PT Sans', sans-serif;






	#app-container{
		.home-view{

			.in-cont{
				background: #777;
				.student-box{

					.stud-card{
						width: 300px;
						height: 150px;

					}
				}
			}
			.hdr-hero{
				background: url('https://static.pexels.com/photos/2116/money-gold-coins-finance.jpg')center,center, no-repeat;
				opacity: .4;
				background-size: cover;
				height: 100%;
				width: 100%;

			}
			.apply-cont{
				position: relative;
				bottom: 0;
				left: 0;
			}

			.abt-cont{
				margin: 0;
				background: #fff;
				color: #5BC0DE;
				.abt-col{
					// .icon-container{
					// 	margin: 0 auto;
					// 	width: 30px;
					// }


				}

			}
			.success-story{
			}
		}





	}
}
